#menu {
    display:block;
}

.logo{
    float:left;
    width: 10%;

}

.header{
    background-color: aqua;
}

.link {
    display:inline-block;
    text-decoration: none;
}

.hauptmenu{
    background-color: bisque;
    width: 80%;
    heigth:10%;
}